body {
  background-color: white;

  font-family: "Inter", sans-serif;
}
h1 {
  color: black;
  text-align: center;
  border: 1x solid black;
}
.container {
  width: auto;
  padding: 400px;
}
.container2
{

}
p {
  color: red;
}
